.mform .fitem .fitemtitle {
    width: 35% !important;
}

.mform .fitem .felement {
    margin-left: 36% !important;
    width: 60% !important;
}

.mform .fitem fieldset.felement {
    margin-left: 35% !important;    
}
